/**
 * Custom styles to immediately follow Tailwind’s `base` layer
 */

/**
 * This uses the background and foreground colors declared in the `theme.json`
 * file and is applied both to the front end and in the block editor.
 */

html,
body {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    @apply bg-background text-foreground font-sans;

}

table {
    @apply overflow-x-auto;
}

.home {
    @apply  bg-no-repeat bg-top-right;
    background-size: 90%;
}

.custom-logo {
    @apply max-w-[229px] w-full h-auto;
}

.container {
    @apply !max-w-[1280px] mx-auto px-4;
}

.container-full {
    @apply max-w-[calc(100%-84px)] mx-auto px-6 lg:px-10;
}

.container-grid {
    @apply max-w-[calc(100%-84px)] mx-auto;
}

.section-title {
    @apply text-5xl md:text-7xl lg:text-[153px] font-medium;
}

.my-paragraph {
    @apply lg:text-justify lg:tracking-[10%];
}

.my-paragraph p {
    @apply mb-6;
}

.form-section-title {
    @apply text-2xl font-medium;
}

.input-label {
    @apply text-xl font-medium;
}

.input {
    @apply w-full px-4 py-3 border border-secondary rounded-full focus:outline-none focus:ring-2 focus:ring-accent;
}

.ssdc-input,
.ssdc-select {
    @apply bg-light border border-secondary/20 rounded-full px-5 py-3 text-sm text-primary focus:outline-none focus:ring-2 focus:ring-primary/30 focus:border-primary/50 transition w-full;
}

.ssdc-select {
    @apply appearance-none;
}

textarea.ssdc-input {
    @apply rounded-xl;
}

.chevron,
.ssdc-chevron {
    @apply absolute right-2 inset-y-0 flex items-center pointer-events-none;
}

/* rule section */
#rule {
    @apply lg:text-justify tracking-[10%] text-sm lg:text-lg;
}

#rule ul {
    @apply list-disc flex flex-col gap-4 pl-2 lg:pl-6;
}

#rule table {
    @apply table-auto overflow-x-auto;
}

#rule table td {
    @apply p-2;
}

#overview-of-design-competition-inherited-futures h4 {
    @apply text-3xl lg:text-4xl font-medium;
}

.gt-current-lang {
    @apply text-accent;
}

@utility btn {
    @apply py-2.5 px-5 rounded-full bg-secondary text-white hover:bg-gray-600 hover:ring-2 hover:ring-offset-2 ring-gray-400 duration-300;
}

@layer components{
.btn-primary {
    @apply btn bg-primary hover:bg-primary/70 ;
}
}


.nav-links{
    @apply flex flex-wrap gap-4 justify-between;
}
