@font-face {
    font-family: 'BentonSans';
    src: local('BentonSans Medium'), local('BentonSans-Medium'),
        url('BentonSans-Medium.woff2') format('woff2'),
        url('BentonSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BentonSans';
    src: local('BentonSans Regular'), local('BentonSans-Regular'),
        url('BentonSans-Regular.woff2') format('woff2'),
        url('BentonSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

